<div class="row">
  <div class="col-xs-12">
    <div class="table-responsive">
      <table class="table">
        <thead>
          <tr>
            <th>Picture</th>
            <th>Name</th>
            <th>Price</th>
            <th>
              <button type="button" class="btn btn-info" style="margin-right: 5px" (click)="updateItem.emit('')" *ngIf="user?.isVendor">
                Create
              </button>
            </th>
          </tr>
        </thead>
        <tbody *ngFor="let item of shop?.items">
          <tr *ngIf="item.isActive">
            <td>
              <img [src]="item.image ? 'data:image/png;base64,' + item.image : defaultImage" style="height: 100px; width: 100px" />
            </td>
            <td>{{ item?.name }}</td>
            <td>{{ item?.price | currency }}</td>
            <td *ngIf="user?.isVendor">
              <button type="button" class="btn btn-info" (click)="updateItem.emit(item?.itemId)" style="margin-right: 5px">Edit</button>
              <button type="button" class="btn btn-danger" (click)="onDeleteItemClick(item?.itemId)">Delete</button>
            </td>
            <td *ngIf="!user?.isVendor">
              <button type="button" class="btn btn-info" [disabled]="hasSubmit" (click)="onAddToCartClick(item?.itemId)">Add To Cart</button>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
