<ng-template appPlaceholder></ng-template>
<div class="row">
  <div class="col-xs-12 col-md-6 col-md-offset-3">
    <div *ngIf="isLoading" style="text-align: center">
      <app-loading-spinner></app-loading-spinner>
    </div>
    <form #authForm="ngForm" (ngSubmit)="onSubmit(authForm)" *ngIf="!isLoading">
      <div class="form-group">
        <label for="phoneNumber">Phone Number</label>
        <input
          type="text"
          id="phoneNumber"
          class="form-control"
          ngModel
          name="phoneNumber"
          required
          pattern="^0+[0-9]{9}$"
        />
      </div>
      <div *ngIf="!isLoginMode" class="form-group">
        <label for="userName">User Name</label>
        <input
          type="text"
          id="userName"
          class="form-control"
          ngModel
          name="userName"
          required
        />
      </div>
      <div *ngIf="!isLoginMode" class="form-group">
        <div class="col-12">
          <label class="btn btn-default p-0">
            <input
              type="file"
              accept="image/*"
              (change)="selectFiles($event)"
            />
          </label>
        </div>
        <div>
          <img [src]="preview" class="preview" />
        </div>
      </div>
      <div class="form-group checkbox">
        <label
          ><input type="checkbox" id="isVendor" ngModel name="isVendor" />
          As a Vendor</label
        >
      </div>
      <div>
        <button
          class="btn btn-primary"
          type="submit"
          [disabled]="!authForm.valid"
        >
          {{ isLoginMode ? "Login" : "Sign Up" }}
        </button>
        |
        <button class="btn btn-primary" (click)="onSwitchMode()" type="button">
          Switch to {{ isLoginMode ? "Sign Up" : "Login" }}
        </button>
      </div>
    </form>
  </div>
</div>
